<div class="container">
    <div class="section col-lg-12">
        <div class="btn-group col-lg-12">
            <button type="button" routerLink="/form/simple" class="btn btn-primary">Simple</button>
            <button type="button" routerLink="/form/fromcontrol" class="btn btn-primary">Form Control</button>
            <button type="button" routerLink="/form/bymodel" class="btn btn-primary">By Model</button>
            <button type="button" routerLink="/form/explicit" class="btn btn-primary">Explicit</button>
            <button type="button" routerLink="/form/byevent" class="btn btn-primary">By Events</button>
            <button type="button" routerLink="/form/customvalidation" class="btn btn-primary">Custom Validation</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>